bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
MyExpenses/expenses.db-shm
MyExpenses/expenses.db
MyExpenses/expenses.db
MyExpenses/expenses.db-wal
MyExpenses/expenses.db
MyExpenses/expenses.db
MyExpenses/expenses.db
